.ndex-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10em;
}

.ndex-base {
  background-color: #ffffff;
  display: flex;
  height: 100vmin;
}